@charset "utf-8";
/* CSS Document */
<style>
.pagination{
padding: 2px;
}
#paging {
	float: left;
	width: 70%;
}

.pagination {
	font-size: 12px;
	padding: 10px;
	margin: 5px;
}


.pagination ul{
	margin: 0;
	padding: 0;
	text-align: center; /*Set to "right" to right align pagination interface*/
	font-size: 12px;
	width: 100%;
	text-decoration: none;
}

.pagination a{
	text-decoration: none;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid #cedfeb;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	color: #417394;
}

.pagination a:hover{
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	background-color: #C2DCEC;
	border-color: #226694;
	color: #417394;
}
.pagination a:visited{

}
.pagination a:active{
	
}
</style>  
