body{
	background-color: #F8F8F8 ;
}
div{
	position: static;
}
#header {
border-bottom: 1px solid #EAEDF5;
box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
left: 0;
line-height: 30px;
position: static;
top: 0;
width: 100%;
z-index: 999;
height: 120px;
background-image: url(http://localhost/japanesedictionary/public/image/admin/background.png);
}
#logo h2 {
line-height: 1;
font-size: 48px;
text-shadow: #011c3f 0 2px;
position: absolute;
top: 5px;
left: 20px;
z-index: 10;
}
#logo a:link, #logo h2 a:visited {
color: #fff;
text-decoration: none;
}
#content{	
	border: 1px solid #C0C0C0;
margin-left: 10%;
margin-right: 10%;
margin-top: 10px;
margin-bottom: 20px;
background-color: #FFFFFF;
}
#top-menu{	
	background-color: #E8E8E8;
	height: 50px;
}
#top-menu-left, #top-menu-right{
}
#top-menu-left ul, #top-menu-right ul{
list-style-type:none;
padding:0px;
margin:0px;
}
#top-menu-left ul li, #top-menu-right ul li{
display:inline;
}
#top-menu-left ul a, #top-menu-right ul a{
text-decoration:none;
padding-top: 14px;
padding-bottom: 16px;
width:129px;
color:#777777;
font-weight:bold;
text-align:center;
float: left;
}
#top-menu-left ul a:hover, #top-menu-right ul a:hover{
	color: #505050;	
	background-color: #C0C0C0;	
}
#top-menu-right{
	float: right;
}
#giua{
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
}
#main-content{
	width: 790px;
	border-left: 1px solid #DDD7D7;	
	float: left;
}
#main-content-vocab{
	width: 790px;
	border-left: 1px solid #DDD7D7;	
	float: left;
}
#main-content-sentence{
	width: 790px;
	border-left: 1px solid #DDD7D7;	
	float: left;
}
#left{
width:165px;
float: left;
margin-right: 10px;
margin-bottom: 10px;
}

#left h1{
background:#99CC00;
color:#FFFFFF;
font-size:14px;
text-align:center;
}

#left ul{
list-style-type:none;
margin:0px;
padding:0px;
}

#left ul a{
text-decoration:none;
line-height:25px;
color:#4C68F7;
background:#EEEEEE;
display:block;
width:150px;
border-top:1px solid #FFFFFF;
border-bottom:1px solid #CCCCCC;
padding-left:15px;
}

#left ul a:hover{
background:#FFCC99;
color: #505050;
}
#box-search{
	width: 100%;
	float: left;
	padding: 10px;	
	display: block;
	border-bottom: 1px solid #DDD7D7;		
}
#boxsearch{
	width: 300px;
	float: left;
}
#search_source{
	width: 550px;
	float: left;
}
#title{
	text-align: center;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid #DDD7D7;	
}
#add{
	width: 200px;
	float: left;
}
#table-user{
	float: left;
	width: 100%;
	padding: 10px;
}
#management{
	float: left;
	width: 100%;
	padding: 10px;
}
#table-user th{
	width: 120px;
	text-align: center;
	background-color: #E8E8E8;
}
#table-user td{
	text-align: center;
}
#table-user table{
	border: 1px solid #DDD7D7;
	border-collapse: collapse; 
}
#table-vocabulary{
	width: 100%;
	padding: 10px;	
}
#table-vocabulary td{
	text-align: left;
}
#search_con{
	width: 500px;
	float: left;
}
#cssmenu {	 
  width: 20%;
  border-style: solid solid none solid;
  border-color: #94AA74;
  border-size: 1px;
  border-width: 1px;
  float: left;
  margin-right: 10px;
}
#cssmenu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#cssmenu li a {
  height: 32px;
  height: 24px;
  text-decoration: none;
  font-weight: normal;
}
#cssmenu li a:link,
#cssmenu li a:visited {
  color: #5E7830;
  display: block;
  background: url(menu1.gif);
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
#cssmenu li a:hover {
  color: #26370A;
  background: url(menu1.gif) 0 -32px;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
#cssmenu li a:active {
  color: #26370A;
  background: url(menu1.gif) 0 -64px;
  background-repeat: no-repeat;
  padding: 8px 0 0 10px;
}
#editAdmin{
	width: 500px;
}
#addNewAdmin{
	width: 550px;
}
#addVocabulary{
	width: 500px;
}
#addVocabulary label{
	float: left;
	width: 110px;
	margin-top: 3px;
	margin-left: 80px;
	text-align: center;
}
#addNewAdmin label {
	float: left;
	width: 20px;
	margin-top: 3px;
	margin-left: 80px;
	text-align: center;
}
#editAdmin label{
	float: left;
	width: 110px;
	margin-top: 3px;
	margin-left: 80px;
	text-align: center;
}
.error ul{
	text-decoration: none;
}
#table-vocabulary .error {
	width: 500px;
	color: #FF0066;
	list-style-type: square;
	font-size: 14px;
	border-color: #df8f8f;
	background-color: #ffcece;
}
#box-search {
	width: 100%;
	float: left;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #DDD7D7;
}
#paging{
	padding-bottom: 15px;
}
#paging a {
color: #2c2c2c;
text-decoration: underline;
font-size: 12px;
font-weight: bold;
}
#footer{
	background-color: #3E6DA5;
	height: 120px;
	clear: both;
	text-align: center;
	background-image: url(http://localhost/japanesedictionary/public/image/admin/background.png);
}

