body{
    margin: 0;
	padding: 0;
	color: #333;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	text-align: justify;
	background-color: #f8f0f0;
}
div{
	position: static;	
}
#top-bar{
	background-color: #3E6DA5;
	border-bottom: 1px solid #3B5998;
	box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52);
	left: 0;
	line-height: 30px;
	position: static;
	top: 0;
	width: 100%;
	z-index: 999;
	height: 50px;
}
#top-bar-left{
	float: left;
}
#top-bar-right{
	float: right;
	margin-right: 15px;
	color: #FFFFFF;
}
#top-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}
#top-bar-right li {
float: left;
margin: 10px 0 6px 6px;
font-weight: bold;
}
li {
display: list-item;
text-align: -webkit-match-parent;
}
a {
text-decoration: none;
color: #FFFFFF;
cursor: pointer;
}
a:hover{
	color: #D59728;
}

/*#top-bar-right li a {
color: #FFFFFF;
font-weight: bold;
}*/
#main-menu{
height: 38px;	
margin-left: 10%;
margin-right: 10%;
background-color: #3E6DA5;
}
#main-menu ul{
list-style: none;
font-family: Arial, san-serif;
font-size: 12px;
padding: 0;
}

#main-menu ul li{
float:left;
position:relative;
}

#main-menu ul a{
text-decoration:none;
color:#fff;
display:block;
font-weight:bold;
padding:10px 30px;
background:#3E6DA5;
}

#main-menu a:hover{
color: #D59728;
background-image: linear-gradient(to bottom,#2E9FD2,#5B8DC9);
}

/*CSS Tạo Menu Cấp 2*/
#main-menu li ul a{
background:#3E6DA5;
width: 140px;
}

#main-menu li ul{
position:absolute;
display:none;
width:200px;
}

#main-menu li:hover ul{
display:block;
}
#content{
	height: 1000px;
	border: 1px solid #C0C0C0;
	margin-left: 10%;
	margin-right: 10%;	
	background-color: #FFFFFF;
}
#box-search{	
	border-bottom: 1px solid #C0C0C0;
	margin: 10px auto;
}
#txtsearch{
	background-color: #DDD7D7;
	height: 30px;	
	width: 50%;
}
#box-select{
	background-color: #DDD7D7;
	height: 30px;	
}
#main-content{
	width: 100%;	
	min-height: 400px;
	border: 0.5px solid ;
}
#footer{	
	background-color: #3E6DA5;
	height: 100px;
	width: 100%;
}
#main-result{
	width: 75%;
	float: left;
}
#pop-up{
	 border-left: 1px solid #DDD7D7;
	 width: 22%;
	 float: left;
}
#search-result{	
	background: #fefefe;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 10px;
	border: 1px #bbb solid;
	box-shadow: 0px 0px 8px #ccc;
	padding-bottom: 8px;
	border-radius: 8px;
	overflow: hidden;
}
#word-info{
	padding: 5px;
background: #fff;
-moz-border-radius: 6px;
border-radius: 6px;
font-size: 110%;
color: #3300CC;
margin-bottom: 20px;
margin-top: 20px;
font-size: 40px;
font: bold;
}
#word-meaning li{
	font-size: 20px;
}
#dangky{
	width: 75%;
	float: left;
}
#doimatkhau{
	width: 75%;
	float: left;
}
#quenthongtin {
	width: 75%;
	float: left;ss
}
#donggopdatabase{
	width: 75%;
	float: left;
}
#xemtailieu{
	width: 75%;
	float: left;
}
#btnSearch{
    background-color: #3E6DA5;
    background-image: linear-gradient(to bottom, #3E6DA5, #3E6DA5);
    box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset;
    border-color: #21759B #21759B #1E6A8D;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px 3px 3px 3px;
    height: 30px;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 12px;
}
#btnSearch:hover, #btnSearch:focus{
	background-color: #FFFFFF;
    background-image: linear-gradient(to bottom,#2E9FD2,#21759B);
    border-color: #21759B #21759B #1E6A8D;
    box-shadow: 0 1px 0 rgba(120,200,230,0.6) inset;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3)
}
.item {
width: 140px;
border: #CCC 1px solid;
margin: 15px;
float: left;
display: block;
overflow: hidden;
height: 32px;
padding-top: 110px;
text-align: center;
background-position: 15px 8px;
background-repeat: no-repeat;
border-radius: 5px;
line-height: 12px;
}
.label {
display: block;
height: 30px;
line-height: 15px;
margin: 0 auto;
text-align: center;
width: 120px;
}
.item-wrap {
float: left;
text-align: left;
}
.item-wrap a {
text-decoration: none;
color: #197394;
cursor: pointer;
}
.item:hover{ 
	border:#336 solid 1px; 
	font-weight:bold; 
	background-color:#eff;}

#gth {
background-image: url(images/lophoctiengnhat.png);
}
#key {
background-image: url(images/banphim.png);
}
#huongdan {
background-image: url(images/huongdanhoc.png);
}
#user {
background-image: url(images/user.png);
}
#minna {
background-image: url(images/minna.png);
background-size: 100px 100px;
}
#manga {
background-image: url(images/manga.jpg);
background-size: 100px 100px;
}
#kaiwa {
background-image: url(images/kaiwa.jpg);
background-size: 100px 100px;
}


